@import "theme"

@mixin focused()
  &:focus
    border-color: $focused-border-color
    outline: none

.form-control
  width: 100%
  margin-bottom: $form-control-margin

  > label
    display: block
    margin-bottom: $label-margin
    width: 100%
    font-size: $label-font-size

  &.required
    > label
      font-weight: bold

      &:after
        color: $focused-border-color
        content: ' *'
        display: inline
        line-height: 1
        font:
          size: 110%
          weight: bold

  input,
  textarea
    @include focused()
    display: block
    width: 100%
    font: inherit
    border: .1rem solid $input-main-color
    background: white
    padding: 1rem 1.5rem
    transition: border-color .1s ease-out

    &::placeholder
      color: $input-main-color

  select
    @include focused()
    border: .1rem solid $input-main-color
    background: white
    transition: border-color .1s ease-out

  input,
  textarea,
  select
    &.invalid
      border-color: $invalid-color
      background: #fde3e3

  .error-message
    font-size: $label-font-size * .8
    color: $invalid-color
    cursor: default
    margin: .25rem 0

.form-actions
  margin: 2rem 0
  text-align: center
