@import 'theme'
@import 'mixins'

.tippy-box
  user-select: text
  cursor: default
  font-size: 1.1rem

  &[role='popover'],
  &[role='popover'] .tippy-content
    padding: 0

  &[role='popover'][data-placement^=bottom] > .tippy-arrow:before
    border-bottom-color: $primary-color !important

  .popover-title
    @include dashed-line(bottom, rgba(0, 0, 0, .2))
    padding: .7rem 1rem
    font-size: 1.2rem
    background-color: $primary-color

  .popover-content
    padding: 1rem
