// global.scss
@import "./fonts.sass"
@import "./theme.sass"

body
  font-family: $font-family

  .main-content
    padding-top: $spacing
    padding-bottom: 10rem

    h1
      margin-bottom: 2rem
      font-size: 2.2rem

  // TODO check if this is used inside other components
  main
    padding-left: $spacing
    padding-right: $spacing

  .container
    max-width: 1300px
    margin: 0 auto
    padding-left: $spacing
    padding-right: $spacing
