// global.scss
@import "./fonts.sass"
@import "./theme.sass"
@import "./perfect-scrollbar" // TODO this should be loaded inside the CliWindow component, however this is hard to mangage, find out how

body
  font-family: $font-family
  line-height: 1.5
  font-size: 1.6rem

  .main-content
    padding-top: $spacing
    padding-bottom: 10rem

    h1,
    h2
      &:before
        content: '#'
        padding-right: .1rem

    h1
      margin-bottom: 2rem
      font-size: 2.4rem

    h2
      margin: 2rem 0 .5rem
      font-size: 2rem

    p
      padding: .5rem 0 1.5rem
      font-size: 1.5rem

    ul,
    ol
      margin: 0 0 2.5rem

    strong
      text-decoration: underline

    pre
      display: block
      padding: 1rem 3rem

  .page-container
    display: flex
    flex-direction: column
    min-height: 100vh

  .container
    max-width: 1300px
    width: 100%
    margin: 0 auto
    padding-left: $spacing
    padding-right: $spacing

@import "form"
