//--------------------------------------------------------------------------------
//Fonts
//--------------------------------------------------------------------------------
$font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace
$font-family-jexia: Roboto, "Helvetica Neue", sans-serif
$font-family-github: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji

//--------------------------------------------------------------------------------
//Paths
//--------------------------------------------------------------------------------
$images-path: '/images/'
$font-path: '/fonts/'

//----------------------//
//       Spacing         //
//----------------------//
$spacing: 4rem

//----------------------//
//       Colors         //
//----------------------//
$primary-color: #f0f8ff // main runme color
$primary-yellow-500: #f9b200 // main Jexia-yellow color

$white: #fff
$black: #000

//$primary-grey-50: #f8f8f8
//$primary-grey-100: #f5f5f5
//$primary-grey-200: #eeeeee
//$primary-grey-400: #bdbdbd
//$primary-grey-500: #9e9e9e
//$primary-grey-600: #757575
//$primary-grey-800: #464648
//$primary-grey-900: #212121
//
//$success-100: #e5fbe6
//$success-200: #93d495
//$success-300: #81C784
//$success-500: #4CAF50
//$success-700: #388E3C
//
//$warning-100: #ffeed9
//$warning-200: #ffcf93
//$warning-300: #FFA726
//$warning-500: #FB8C00
//$warning-700: #EF6C00
//
//$error-100: #f2dede
//$error-200: #ebccd1
//$error-300: #EF5350
//$error-500: #E53935
//$error-700: #C62828
//
//$info-100: #d9edf7
//$info-200: #bce8f1
//$info-300: #64B5F6
//$info-500: #2196F3
//$info-700: #1976D2
//
//
//$alert: #f44336
//
//$grey-20: rgba($primary-grey-900, .2)
//$grey-40: rgba($primary-grey-900, .4)
//$grey-80: rgba($primary-grey-900, .8)
//
////----------------------//
////     Font Weights     //
////----------------------//
//$f-regular: 400
//$f-medium: 500
//$f-bold: 700
